

<div class="negotiationListView">
</div>

<div class="negotiationFormView">
<div class="newNegotiationButton"></div>
</div>

<div class="issuesContainer">
	<div class="issueView">
	  <h1 class="issue-submit">submit issue</h1>
	</div>
</div>