

<div class="negotiationListView">
</div>

<div class="negotiationFormView">
<div class="newNegotiationButton"></div>
</div>

<div class="issuesContainer">

	<div class="issueView">
	</div>
	<div class="issueEvalView"></div>
	<div class="issueFormView"></div>

</div>
