<div class="negotiation">
    <ul>
      <li>
          <h3><input class="negotiationName", value=<%= attributes.negotiation_name %>><span class="update">update</span></h3>
          <h2 class="batnaName"> BATNA:<h3><input value=<%= attributes.batna_name %>><span class="update">update</span></h3></h2>
          <h2 class="batnaPoints"> BATNA Points:<h3><input class="negotiationName", value=<%= attributes.batna_points %>><span class="update">update</span></h3></h2>
      </li>
    </ul>
    <div class="loadIssuePage"><h3>negotiate!</h3></div>
</div>