
<div class="negotiation">
    <ul>
      <li>
          <h3><input class="newnegotiationName", placeholder="negotiation name"><span class="negotiation-submit">new</span></h3>
          <h2> BATNA:  <span><input class= "newbatnaName", placeholder="alternative"></span></h2>
          <h2> BATNA Points:  <span><input class="newbatnaPoints", placeholder="0"></span></h2>
      </li>
    </ul>
</div>