<div class="negotiation">
    <ul>
      <li>
          <h1> <%= attributes.negotiation_name %></h1>
          <h2> BATNA: <%= attributes.batna_name %></h2>
          <h2> BATNA Points: <%= attributes.batna_points %></h2>
      </li>
    </ul>
</div>