<div class="issue">
    <ul>
      <li>
          <h3><input class="newIssueName", placeholder="issue_name"><span class="issue-submit">new</span></h3>
          <h2> Potential Points:  <span><input class= "newPotentialPoints", placeholder="0"></span></h2>
      </li>
    </ul>
</div>
