/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.negotiationListView{
	/*display: none;*/
}

/*.negotiation:hover{
	background-color: gray;
};*/

.issue input, .negotiation input{
	background-color: transparent; 
border-style: solid; 
border-width: 0px 0px 0px 0px; 
font-size: 1.5em;
font-family: baskerville;
width: 70%;
}

.issue input:focus, .negotiation input:focus{
  outline:none;
  background-color: transparent; 
  border-style: solid; 
  border-width: 0; 
  border-color: #9ecaed;
  border-width:0 0 1px 0;
}

li {
    list-style-type: none;
}

.container{
  width: 100%;
}